/*
Common

************************/


html,
body{
    height: 100%;
}
.main-header{
    display: flex;
}


.main-header .logo {
   width: 50px;
   margin-right: 20px;
   vertical-align: middle;

}

.main-header h1{

    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
    box-sizing: border-box;
    

}

/* h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

} */

.post_form input[type=text] {
    background-color: #e6fef7;

}
.context {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    display: block;
    
}


.context .post_form .file{

    display: flex;
}

/*     background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold; */
/*

Post
***********************/


.post_form {
    padding: 20px 40px;
    
    border-bottom: 1px solid #ccc;
}


.post_form input {

    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    

    
}


.post_form textarea {

    width: 100%;
    padding: 10px;
    border: 0px;
}
.posts ul {
    padding: 0;
}

.posts li{

    display: flex;
    border-bottom:1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
    position: relative;

}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right:30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right:15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px
}
.posts li .menu a {
    text-decoration: none;
}


.posts li .logo{
    flex-basis: 15%;


}
.posts li .logo img{
     width: 60%;
 }
.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}