{% extends "base.html" %} {% block content %} {% load static %}

<section class ="context">
  <div class="main-header" >
     <img src="static/img/twitter.png" class="logo">
     <h1>Edit your post</h1>
  </div>
  <br>
   <section class="post_form">
      <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data" style="margin-left: 8px">
             {% csrf_token %}  
             <input type="text" name="name" placeholder="Your name" value="{{ post.name }}" required/>
             <textarea name="body" placeholder="What's happening?" value="{{ post.body }}" required></textarea>
             <div class="file">
                <input type="file" id="file" name="image">
                <button class="button" type = "submit">Cancel</button>
                <button class="button" type="submit">Update</button>
                

                
             </div>
         </form>
   </section>
 
{% endblock %}
